---
import Layout from '../layouts/Layout.astro';
import QRCodeContainer from '../components/QRCodeContainer.astro';
---

<Layout title="QR Code Component - Frontend Mentor">
	<main>
		<QRCodeContainer />
	</main>
</Layout>
